body{
    margin: 0%;
    padding: 0%;
    
}
.bd-callout-warning {
  
  
  --bd-callout-border: var(--bs-warning-border-subtle);
}

.bd-callout {
  margin: auto;
  width: 90%;
  grid-area: content;
  min-width: 1px;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
  border-right: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
 
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    transition: transform 0.80s ease-in-out, box-shadow 0.80s ease-in-out;
    -webkit-transition: transform 0.80s ease-in-out, box-shadow 0.80s ease-in-out;
    -moz-transition: transform 0.80s ease-in-out, box-shadow 0.80s ease-in-out;
    -ms-transition: transform 0.80s ease-in-out, box-shadow 0.80s ease-in-out;
    -o-transition: transform 0.80s ease-in-out, box-shadow 0.80s ease-in-out;
}
  .lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
  }
  .lift:active {
    transform: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  }
  .lift-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
  }
  .lift-sm:hover {
    transform: translateY(-0.1666666667rem);
    box-shadow: 0 0.25rem 1rem 0 rgba(33, 40, 50, 0.25);
  }
  .lift-sm:active {
    transform: none;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
  }
  .card.lift {
    text-decoration: none;
    color: inherit;
  }
  .card-img-top{
    width:50% ;
    margin: auto;
    display: block;
  }
  .imgart{
    width:3% ;
    
    display: inline-block;
  }
  .img-fluid {
    max-width: 100%;
   height: 100%;
}
  
.img-indxe{
  width: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: conain;


}

.dark {
 

    text-align: center;
  color: #1B3F4C !important;
  width: 50%;
 
  font-size: 1em;
  line-height: inherit;
  float: right;
  background:#EDEDED;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
.ddark{
  background:#EDEDED;
}